{% extends 'layout.html' %}
{% block content %}

<section class="h-100 h-custom">
  <div class="container p-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Manage SMS</h1>
                  </div>

                  <div class="container-fluid">
                    <div class="row justify-content-between align-items-center">
                    {% for itemcard in subscriptions %}
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card border border-5 border-{{itemcard['color']}} btn btn-{{itemcard['color']}} shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-xs text-dark font-weight-bold mb-2">
                                              {{itemcard['title']}}
                                          </div>
                                          <div class="h5 mb-0 font-weight-bold text-dark">{{itemcard['value']}}</div>
                                      </div>
                                      <div class="col-auto">
                                          <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                    {% endfor %}
                      </div>
                    </div>

                    <h6 class="mb-0 text-muted">Latest Subscription Activity</h6>

                    {%  for activity in latestactivity %}
                      <hr class="my-4">

                      <div class="row mb-4 d-flex justify-content-between align-items-center">
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <h6 class="text-black mb-0">{{activity.id}}</h6>
                          <h6 class="text-muted">{{activity.firstname}} {{activity.lastname}}</h6>
                        </div>

                        <div class="col-md-3 col-lg-3 col-xl-3">
                          {% if activity.notificationstatus == 1%}
                            <h6 class="btn btn-success mb-0">Subscribed</h6>
                          {% else %}
                            <h6 class="btn btn-danger mb-0">Unsubscribed</h6>
                          {% endif %}
                          <h6 class="text-muted">{{activity.notificationstatuschangedate.strftime('%d-%m-%Y %H:%M:%S')}}</h6>
                        </div>

                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                        </div>
                      </div>
                    {% endfor %}


                  <hr class="my-4">
                </div>
            </div>

            <div class="col-lg-4 bg-grey">
              <div class="p-5">
                <h3 class="fw-bold mb-5 mt-2 pt-1">Send SMS</h3>
                <hr class="my-4">

                <p>Send SMS about movie updates to subscribed users.</p>
                <div class="d-flex justify-content-between mb-4">
                  <form action="{{url_for('sms')}}" method="POST">
                    <div class="form-group label-floating mb-3">
                        <label for="message" class="control-label">Type Your Message</label>
                        <textarea class="form-control" rows="3" maxlength="160" id="message" name="message" required data-error="Write your message"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>

                    <input type="hidden" name="subscribed" value="subscribed_users">
                    <button type="submit" class="btn btn-lg btn-warning">Send Movie Updates</button>
                  </form>
                </div>

                <hr class="my-4">

                <p>Send important announcements to all users.</p>
                <small class="text-muted">Use this option rarely and carefully or your SMS number will be blocked.</small>
                <div class="d-flex justify-content-between mb-4">
                  <form action="{{url_for('sms')}}" method="POST">
                    <div class="form-group label-floating mb-3">
                        <label for="message" class="control-label">Type Your Message</label>
                        <textarea class="form-control" rows="3" maxlength="160" id="message" name="message" required data-error="Write your message"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>

                    <input type="hidden" name="subscribed" value="all_users">
                    <button type="submit" class="btn btn-lg btn-danger">Send Announcement</button>
                  </form>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
