{% extends 'layout.html' %}
{% block content %}

<section class="p-5 text-center">
  <div class="container">
    <div class="card p-5">
      <i class="bi bi-exclamation-circle text-danger h1"></i>
      <hr>
      <p>404</p>
      <p class="lead">The page cannot be found </p>
      <small>Have any queries? Please <a href="{{ url_for('contact')}}" class="link-warning">Contact Us</a></small>
    </div>
    <a href="{{ url_for('home')}}" class="btn btn-danger">Go to Home</a>
    <a href="{{ url_for('contact')}}" class="btn btn-warning">Report Error</a>
  </div>
</section>
{% endblock %}
