{% extends 'layout.html' %}
{% block content %}

<section class="h-100 h-custom">
  <div class="container p-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black text-capitalize">Welcome, {{current_user.firstname }}</h1>
                    <h6 class="mb-0 text-muted">{{orderscount}} total orders</h6>
                  </div>

                  {%  for order in orders.items %}

                    <hr class="my-4">

                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        {% if order.orderstatus == 'Pending'%}
                          <h6 class="btn btn-danger mb-0">{{order.orderstatus}}</h6>
                        {% elif order.orderstatus == 'Processing' %}
                          <h6 class="btn btn-warning mb-0">{{order.orderstatus}}</h6>
                        {% else %}
                          <h6 class="btn btn-success mb-0">{{order.orderstatus}}</h6>
                        {% endif %}
                        <h6 class="text-muted">{{order.orderdate.strftime('%d-%m-%Y %H:%M:%S')}}</h6>
                      </div>

                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">sh.{{order.orderamount}}</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                  {% endfor %}

                  <hr class="my-4">
                </div>
                {% for pagenumber in orders.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                  {% if pagenumber %}
                    {% if orders.page == pagenumber %}
                      <a class="btn btn-warning" href="{{url_for('customerdashboard', page=pagenumber)}}">{{pagenumber}}</a>
                    {% else %}
                      <a class="btn btn-outline-info" href="{{url_for('customerdashboard', page=pagenumber)}}">{{pagenumber}}</a>
                    {% endif %}
                  {% else %}
                    ...
                  {% endif %}
                {% else %}
                {% endfor %}
              </div>


              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Profile</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-capitalize">{{current_user.firstname}} {{current_user.lastname}}</h5>
                  </div>

                  <div class="justify-content-between mb-4">
                    <h5>{{current_user.phone}}</h5>
                  </div>

                  <h5 class="mb-3">Opt out of SMS?</h5>

                  <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">No</option>
                      <option value="2">Yes</option>
                    </select>
                  </div>

                  <div class="justify-content-between mb-3">
                    <h5>{{current_user.email}}</h5>
                  </div>


                  <hr class="my-4">

                    <div class="d-flex flex-column align-items-center text-center">
                      <img class="pb-5 rounded-circle" width="75px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                      <a href="{{url_for('customerprofile')}}" class="btn btn-warning btn-block btn-lg align-items-center">Update Details</a>
                    </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
