{% extends 'layout.html' %}
{%  block content%}

<section class="p-5">
  <div class="container">
    <div class="card  p-5 justify-content-between align-items-center">
      <h1>Customer Login</h1>
      <hr>
      <form class="row g-3" method='POST' action="{{url_for('customerlogin')}}">
        {{ form.hidden_tag() }}
        <div class="col-md-6">
          {{ form.email.label(class="form-label") }}

          {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.email(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col-md-6">
          {{ form.password.label(class="form-label") }}

          {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.password(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class='form-check'>
          {{ form.remember.label(class="form-check-label") }}
          {{ form.remember(class="form-check-input") }}
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </div>

        <div class="card justify-content-between align-items-center">
          <small class="text-muted">
            Not registered? <a class='ml-2' href={{ url_for('customerregister')}}>Register</a> | Forgot password? <a class='ml-2' href={{ url_for('customerpasswordreset')}}>Reset</a>
          </small>
        </div>

      </form>
    </div>

  </div>
</section>

{% endblock content %}
