{% extends 'layout.html' %}
{%  block content%}

<section class="p-5">
  <div class="container">
    <div class="card  p-5 justify-content-between align-items-center">
      <h1>Update Profile Details</h1>
      <hr>
      <form class="row g-3" method='POST' action='{{url_for('customerprofile')}}'>
        {{ form.hidden_tag() }}
        <div class="col-md-6">
          {{ form.firstname.label(class="form-label") }}

          {% if form.firstname.errors %}
            {{ form.firstname(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.firstname.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.firstname(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col-md-6">
          {{ form.lastname.label(class="form-label") }}

          {% if form.lastname.errors %}
            {{ form.lastname(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.lastname.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.lastname(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col-md-6">
          {{ form.email.label(class="form-label") }}

          {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.email(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col-md-6">
          {{ form.phone.label(class="form-label") }}

          {% if form.phone.errors %}
            {{ form.phone(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.phone.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.phone(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col-md-6">
          {{ form.address.label(class="form-label") }}

          {% if form.address.errors %}
            {{ form.address(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.address.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.address(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col-md-6">
          {{ form.city.label(class="form-label") }}

          {% if form.city.errors %}
            {{ form.city(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.city.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.city(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col-md-6">
          {{ form.state.label(class="form-label") }}

          {% if form.state.errors %}
            {{ form.state(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.state.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.state(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-warning">Update Details</button>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock content %}
