{% extends 'layout.html' %}
{%  block content%}

<section class="p-5">
  <div class="container">
    <div class="card  p-5 justify-content-between align-items-center">
      <h1>Register an Account</h1>
      <hr>
      <form class="row g-3" method='POST' action='{{url_for('customerregister')}}'>
        {{ form.hidden_tag() }}
        <div class="col-md-6">
          {{ form.firstname.label(class="form-label") }}

          {% if form.firstname.errors %}
            {{ form.firstname(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.firstname.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.firstname(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col-md-6">
          {{ form.lastname.label(class="form-label") }}

          {% if form.lastname.errors %}
            {{ form.lastname(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.lastname.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.lastname(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col-md-6">
          {{ form.email.label(class="form-label") }}

          {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.email(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col-md-6">
          {{ form.phone.label(class="form-label") }}

          {% if form.phone.errors %}
            {{ form.phone(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.phone.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.phone(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col-md-6">
          {{ form.password.label(class="form-label") }}

          {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.password(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col-md-6">
          {{ form.confirm_password.label(class="form-label") }}

          {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.confirm_password.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.confirm_password(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col-md-6">
          {{ form.address.label(class="form-label") }}

          {% if form.address.errors %}
            {{ form.address(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.address.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.address(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col-md-6">
          {{ form.city.label(class="form-label") }}

          {% if form.city.errors %}
            {{ form.city(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.city.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.city(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col-md-6">
          {{ form.state.label(class="form-label") }}

          {% if form.state.errors %}
            {{ form.state(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.state.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.state(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col-12">
          <div class="form-check">
            <input required class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              I have read the terms of service
            </label>
          </div>
        </div>

        <div class="col-md-6">
          {{ form.recaptcha.label(class="form-label") }}

          {% if form.recaptcha.errors %}
            {{ form.recaptcha(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.recaptcha.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.recaptcha(class="form-control form-control-lg") }}
          {% endif %}
        </div>


        <div class="col-12">
          <button type="submit" class="btn btn-warning">Register</button>
        </div>
      </form>
      <span class="text-muted">Already have an account? <a href="{{ url_for('customerlogin')}}">Login instead</a></span>
    </div>
  </div>
</section>

{% endblock content %}
