/*START CSS for product details page. Displays shopping cart*/
/*https://www.bootdey.com/snippets/view/bs4-product-detail#css*/

body{
    background-color: #edf1f5;
    margin-top:20px;
}

.wrap {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	max-width:1500px;
  margin:auto;
}

.card {
    margin-bottom: 30px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}
.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa!important
}
.table-product td{
    border-top: 0px solid #dee2e6 !important;
    color: #728299!important;
}


/*END CSS for product details page. Displays shopping cart*/




/*START CSS for shopping cart page. Displays shopping cart*/
/*https://mdbootstrap.com/docs/standard/extended/shopping-carts/*/
@media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}

.card-registration .select-arrow {
top: 13px;
}

.bg-grey {
background-color: #eae8e8;
}

@media (min-width: 992px) {
.card-registration-2 .bg-grey {
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
}
}

@media (max-width: 991px) {
.card-registration-2 .bg-grey {
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
}
}
/*END CSS for shopping cart page. Displays shopping cart*/
