{% extends 'layout.html' %}
{% block content %}

<section class="h-100 h-custom">
  <div class="container p-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">{{title}}</h1>
                  </div>

                  {%  for customer in customers.items %}
                    <hr class="my-4">

                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-black mb-0">
                          <form action="{{url_for('adminviewcustomer')}}" method="POST">
                            <input type="hidden" name="customerid" value="{{customer.id}}">
                            <button type="submit" class="btn btn-link">{{customer.firstname}} {{customer.lastname}}</button>
                          </form>
                        </h6>
                        <small class="text-muted">Reg.Date {{customer.registrationdate.strftime('%d-%m-%Y %H:%M:%S')}}</small>
                      </div>

                      <div class="col-md-3 col-lg-3 col-xl-3">
                        {% if customer.accesslevel == '0' %}
                          <h6 class="btn btn-info mb-0">Customer</h6>
                        {% elif customer.accesslevel == '1' %}
                          <h6 class="btn btn-danger mb-0">Admin</h6>
                        {% else %}
                          <h6 class="btn btn-warning mb-0">Guest</h6>
                        {% endif %}

                      </div>

                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">{{customer.email}}</h6>
                      </div>

                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">{{customer.address}}</h6>
                      </div>

                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                  {% endfor %}

                  <hr class="my-4">

                  {% for pagenumber in customers.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)%}
                    {% if pagenumber %}
                      {% if customers.page == pagenumber%}
                        <a class="btn btn-warning mb-4" href="{{url_for('adminviewallorders', page=pagenumber)}}">{{pagenumber}}</a>
                      {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{url_for('adminviewallorders', page=pagenumber)}}">{{pagenumber}}</a>
                      {% endif %}
                    {% else %}
                      ...
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
