{% extends 'layout.html' %}

{% block content%}

<section class="p-5">
  <h2 class="text-center mb-4">Contact Us</h2>
      <div class="container">
        <div class="row g-4">
          <div class="col-md">

            <ul class="list-group list-group-flush lead">
              <li class="list-group-item">
                <span class="fw-bold">Our Location:</span> Mamba Village, Kisii Estate, Thika
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Phone (Call):</span> 0710 123 456
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Phone (WhatsApp):</span> 0710 123 456
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Email:</span>
                support@tre.co.ke
              </li>
            </ul>
          </div>
          <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
            <form class="shake" role="form" method='POST' action='{{url_for('contact')}}'>
                {{ form.hidden_tag() }}
                <!-- Name -->
                <div class="col">
                  {{ form.name.label(class="form-label") }}

                  {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.name.errors %}
                            <span> {{ error }} </span>
                          {%endfor%}
                      </div>
                  {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
                <!-- email -->
                <div class="col">
                  {{ form.email.label(class="form-label") }}

                  {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.email.errors %}
                            <span> {{ error }} </span>
                          {%endfor%}
                      </div>
                  {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
                <!-- Subject -->
                <div class="col">
                  {{ form.subject.label(class="form-label") }}

                  {% if form.subject.errors %}
                    {{ form.subject(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.subject.errors %}
                            <span> {{ error }} </span>
                          {%endfor%}
                      </div>
                  {% else %}
                    {{ form.subject(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
                <!-- Message -->
                <div class="col">
                  {{ form.message.label(class="form-label") }}

                  {% if form.message.errors %}
                    {{ form.message(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.message.errors %}
                            <span> {{ error }} </span>
                          {%endfor%}
                      </div>
                  {% else %}
                    {{ form.message(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
                <!-- Captcha -->
                <div class="col">
                  {{ form.recaptcha.label(class="form-label") }}

                  {% if form.recaptcha.errors %}
                    {{ form.recaptcha(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.recaptcha.errors %}
                            <span> {{ error }} </span>
                          {%endfor%}
                      </div>
                  {% else %}
                    {{ form.recaptcha(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
                <!-- Form Submit -->
                <div class="form-submit mt-5 d-grid gap-2 col-9 mx-auto">
                    <button class="btn btn-warning" type="submit" id="form-submit"><i class="material-icons mdi mdi-message-outline"></i> Send Message</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
      </div>
    </section>

{%  endblock content%}
