{% extends 'layout.html' %}

{% block content %}


<!--Slider-->
<section class="bg-dark text-light p-lg-0 text-center text-sm-smart">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between text-center">

      <div id="homeslider" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#homeslider" data-slide-to="0" class="active"></li>
            <li data-target="#homeslider" data-slide-to="1"></li>
            <li data-target="#homeslider" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            {% for item in sliders %}
              <div class="carousel-item img img-responsive {% if loop.index == 1 %}active{% endif %}" id="slide{{loop.index}}" >
                <img class="d-block img-fluid" src="{{ url_for('static', filename='images/sliders/') }}{{ item.imagelocation }}" alt="{{item.filmtitle}}">
                <div class="carousel-caption">
                    <h1>{{ item.filmtitle }}</h1>
                </div>
              </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#homeslider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
          <a class="carousel-control-next" href="#homeslider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
      </div>


    </div>
  </div>

</section>

<!--Newsletter-->
<section class="bg-warning text-dark p-5">
  <div class="container">
    <div class="d-md-flex justify-content-between align-items-center">
      <h3 class="mb-3 mb-md-0">Sign Up to Get Notified</h3>

      <div class="input-group news-input">
          <input type="text" class="form-control" placeholder="Enter Phone" />
          <button class="btn btn-dark btn-lg" type="button">Submit</button>
      </div>

    </div>
  </div>
</section>


<!--Movies-->
<section class="p-5">
  <div class="container">
    <h3>Featured Movies</h3>
    <hr>
    <div class="row text-center g-4">
      {% for movie in movies %}
        <div class="col-md">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="{{ url_for('static', filename='images/films/') }}{{ movie.imagelocation }}" alt="">
              <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
              </div>
              <div class="card-footer input-group justify-content-between align-items-center">
                <form action="{{url_for('productdetails')}}" method="POST">
                  <input type="hidden" name="productid" value="{{movie.id}}">
                  <button type="submit" class="btn btn-primary input-group-prepend">Details</button>
                </form>

                <form action="{{url_for('addtocart')}}" method="POST">
                  <input type="hidden" name="productid" value="{{movie.id}}">
                  <input type="hidden" name="quantity" value="1">
                  <button type="submit" class="btn btn-warning text-dark input-group-append">Add to Cart</button>
                </form>
              </div>
            </div>
        </div>
      {% endfor %}
</section>


<!--Series-->
<section class="p-5">
  <div class="container">
    <h3>Featured Series</h3>
    <hr>
    <div class="row text-center g-4">
      {% for serie in series %}
        <div class="col-md">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="{{ url_for('static', filename='images/films/') }}{{ serie.imagelocation }}" alt="">
              <div class="card-body">
                <h5 class="card-title">{{serie.title}}</h5>
              </div>
              <div class="card-footer input-group justify-content-between align-items-center">
                <form action="{{url_for('productdetails')}}" method="POST">
                  <input type="hidden" name="productid" value="{{serie.id}}">
                  <button type="submit" class="btn btn-primary input-group-prepend">Details</button>
                </form>

                <form action="{{url_for('addtocart')}}" method="POST">
                  <input type="hidden" name="productid" value="{{serie.id}}">
                  <input type="hidden" name="quantity" value="1">
                  <button type="submit" class="btn btn-warning text-dark input-group-append">Add to Cart</button>
                </form>
              </div>
            </div>
        </div>
      {% endfor %}
</section>


<!--From the archives-->
<section class="p-5">
  <div class="container">
    <h3>From the Archives</h3>
    <hr>
    <div class="row text-center g-4">
      {% for archive in archives %}
        <div class="col-md">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="{{ url_for('static', filename='images/films/') }}{{ archive.imagelocation }}" alt="">
              <div class="card-body">
                <h5 class="card-title">{{archive.title}}</h5>
              </div>
              <div class="card-footer input-group justify-content-between align-items-center">
                <form action="{{url_for('productdetails')}}" method="POST">
                  <input type="hidden" name="productid" value="{{archive.id}}">
                  <button type="submit" class="btn btn-primary input-group-prepend">Details</button>
                </form>

                <form action="{{url_for('addtocart')}}" method="POST">
                  <input type="hidden" name="productid" value="{{archive.id}}">
                  <input type="hidden" name="quantity" value="1">
                  <button type="submit" class="btn btn-warning text-dark input-group-append">Add to Cart</button>
                </form>
              </div>
            </div>
        </div>
      {% endfor %}
</section>
{% endblock content %}
