<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href={{ url_for('static', filename='images/favicon.ico') }} type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} />
    <script src="https://unpkg.com/intasend-inlinejs-sdk@3.0.2/build/intasend-inline.js"></script>

    {% if title %}
      <title>{{ title }} - The Royalty Entertainment</title>
    {% else %}
    <title>The Royalty Entertainment</title>
    {% endif %}
  </head>
  <body class="wrap">
    <header class="fw-bold text-dark text-center">
      <p class="bi-bag-plus-fill">Free shipping for orders above sh400</p>
    </header>

    <!--Nav Bar-->
    <nav class="navbar navbar-expand-lg bg-secondary">
      <div class="container">
          <h1>
            <a href="{{ url_for('home') }}" class="navbar-brand link-light">
              <img src="{{ url_for('static', filename='images/logo.png') }}" alt="TRE">
            </a>
          </h1>

          <button
            class="navbar-toggler btn btn-outline-warning"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu"
          >
            <h6><i class="bi bi-menu-button-wide"></i></h6>
          </button>

          <div class="collapse navbar-collapse nav justify-content-center" id="navmenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link link-light" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link-light" href="{{ url_for('movies') }}">Movies</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link-light" href="{{ url_for('series') }}">Series</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link-light" href="{{ url_for('contact') }}">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link-light" href="{{ url_for('adminlogin') }}">Admin</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto class="d-grid gap-2 d-md-block"">
              {% if current_user.is_authenticated %}
                <div class="justify-content-between align-items-center">
                  <a class="btn btn-danger btn-md" href="{{ url_for('cart') }}">Cart({{cartcount}})</a>
                  <a class="btn btn-warning btn-md" href="{{ url_for('customerprofile') }}">Profile</a>
                  <a class="btn btn-outline-warning btn-md" href="{{ url_for('customerlogout') }}">Logout</a>
                </div>
              {% else %}
                <div class="justify-content-between align-items-center">
                    <a class="btn btn-danger btn-md" href="{{ url_for('customerregister') }}">Register</a>
                    <a class="btn btn-outline-warning btn-md" href="{{ url_for('customerlogin') }}">Customer Login</a>
                </div>

              {% endif %}
            </ul>
          </div>



      </div>
    </nav>

    <main role="main">
          <section class="container ">
            <div class="d-flex justify-content-center pt-2 bd-highlight align-items-center">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{category}}" role="alert">
                      {% if category == 'success'%}
                        <i class="bi-check-circle-fill"></i>
                        {{ message }}
                      {% elif category == 'info' %}
                        <i class="bi-info-circle-fill"></i>
                        {{ message }}
                      {% elif category == 'warning' %}
                        <i class="bi-exclamation-triangle-fill"></i>
                        {{ message }}
                      {% else %}
                        <i class="bi-exclamation-octagon-fill"></i>
                        {{ message }}
                      {% endif %}
                    </div>
                  {%endfor%}
                {% endif%}
              {% endwith%}
            </div>
          </section>

          {% block content %}

          {% endblock content %}

    </main>


    <!--Footer-->
    <footer class="bg-secondary p-2 text-white text-center fixed-bottom ">
      <div class="container">
        <p>Copyright &copy 2022 The Royalty Entertainment</p>
        <a href="#" class="position-absolute bottom-0 end-0 p-2">
          <i class="bi bi-arrow-up-circle text-warning h1"></i>
        </a>
      </div>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      new window.IntaSend({
          publicAPIKey: "{{intasend_publishablekey}}",
          redirectURL: "{{intasend_redirecturl}}",
          live: {{intasend_liveness}} // set to true when going live
      })
      .on("COMPLETE", (results) => console.log(results))
      .on("FAILED", (results) => console.log(results))
      .on("IN-PROGRESS", () => console.log("Payment in progress status"))
    </script>

  </body>
</html>
