<p>Hello</p>

<p>You have received an entry on the contact form at theroyaltyent.xyz. Below are the details</p>

<p>Sender's Name: {{name}}</p>

<p>Sender's Email: {{email}}</p>

<p>Subject: {{subject}}</p>

<p>Message: {{message}}</p>
