{% extends 'layout.html' %}

{% block content%}

<!--Movies-->
<section class="p-5">
  <div class="container">
    <div class="row text-center g-4">
      {% for movie in movies.items %}
        <div class="col-md pb-5">
            <div class="card" style="width: 15rem;">
              <img class="card-img-top" src="{{ url_for('static', filename='images/films/') }}{{ movie.imagelocation }}" alt="">
              <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
              </div>
              <div class="card-footer input-group justify-content-between align-items-center">
                <form action="{{url_for('productdetails')}}" method="POST">
                  <input type="hidden" name="productid" value="{{movie.id}}">
                  <button type="submit" class="btn btn-primary input-group-prepend">Details</button>
                </form>

                <form action="{{url_for('addtocart')}}" method="POST">
                  <input type="hidden" name="productid" value="{{movie.id}}">
                  <input type="hidden" name="quantity" value="1">
                  <button type="submit" class="btn btn-warning text-dark input-group-append">Add to Cart</button>
                </form>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
      {% for pagenumber in movies.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)%}
        {% if pagenumber %}
          {% if movies.page == pagenumber%}
            <a class="btn btn-warning mb-4" href="{{url_for('movies', page=pagenumber)}}">{{pagenumber}}</a>
          {% else %}
            <a class="btn btn-outline-info mb-4" href="{{url_for('movies', page=pagenumber)}}">{{pagenumber}}</a>
          {% endif %}
        {% else %}
          ...
        {% endif %}
      {% endfor %}
    </div>

</section>

{%  endblock content%}
