{% extends 'layout.html' %}

{% block content%}

<!--Series-->
<section class="p-5">
  <div class="container">
    <div class="row text-center g-4">
      {% for serie in series.items %}
        <div class="col-md pb-5">
            <div class="card" style="width: 15rem;">
              <img class="card-img-top" src="{{ url_for('static', filename='images/films/') }}{{ serie.imagelocation }}" alt="">
              <div class="card-body">
                <h5 class="card-title">{{serie.title}}</h5>
              </div>
              <div class="card-footer input-group justify-content-between align-items-center">
                <form action="{{url_for('productdetails')}}" method="POST">
                  <input type="hidden" name="productid" value="{{serie.id}}">
                  <button type="submit" class="btn btn-primary input-group-prepend">Details</button>
                </form>

                <form action="{{url_for('addtocart')}}" method="POST">
                  <input type="hidden" name="productid" value="{{serie.id}}">
                  <input type="hidden" name="quantity" value="1">
                  <button type="submit" class="btn btn-warning text-dark input-group-append">Add to Cart</button>
                </form>
              </div>
            </div>
        </div>
      {% endfor %}
      </div>
      {% for pagenumber in series.iter_pages()%}
        {% if pagenumber %}
          {% if series.page == pagenumber %}
            <a class="btn btn-warning mb-4" href="{{url_for('series', page=pagenumber )}}">{{ pagenumber }}</a>
          {% else %}
            <a class="btn btn-outline-info mb-4" href="{{url_for('series', page=pagenumber )}}">{{ pagenumber }}</a>
          {% endif %}
        {% else %}
          ...
        {% endif %}
      {% endfor %}
    </div>

</section>

{%  endblock content%}
