{% extends 'layout.html' %}
{% block content %}

<section class="p-5 text-center">
  <div class="container">
    <div class="card p-5">
      <h1 class="text-success">Successful</h1>
      <hr>
      <p class="lead">Please check your email for further instructions on password reset.</p>
    </div>
    <a href="{{ url_for('home')}}" class="btn btn-warning">Go to Home</a>
  </div>
</section>
{% endblock %}
