<div class="card p-5 justify-content-between align-items-center">

  <p>Someone requested password reset for your account with us.</p>

  <p>To reset your password, please click on the link below</p>

  <a href="{{url_for('customernewpassword', token=token, _external=True)}}" target="_blank" class="btn btn-warning">Reset Password</a>

  <p>If you did not make the request, please ignore this email. It will expire in 30mins and no changes will be made</p>

  <p>
    Regards, <br>
    TRE Support
  </p>
</div>
