{% extends 'layout.html' %}
{%  block content%}

<section class="p-5">
  <div class="container">
    <div class="card p-5 justify-content-between align-items-center">
      <h2>Password Reset</h2>
      <hr>
      <form method='POST' action="{{url_for('customerpasswordreset')}}">
        {{ form.hidden_tag() }}
        <div class="mb-3 col-md">
          {{ form.email.label(class="form-label") }}

          {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.email(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="d-grid gap-2 col-9 mx-auto">
          <button type="submit" class="btn btn-warning btn-lg">Send Instructions</button>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock content %}
