{% extends 'layout.html' %}
{% block content %}

<section class="h-100 h-custom">
  <div class="container p-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black text-capitalize">Movies and Series</h1>
                    <h6 class="mb-0 text-muted">{{filmcount}} films</h6>
                  </div>

                  {%  for film in films.items %}

                    <hr class="my-4">

                    <div class="row mb-4 d-flex justify-content-between align-items-center hover-zoom">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <form action="{{url_for('adminviewfilm')}}" method="POST">
                          <input type="hidden" name="productid" value="{{film.id}}">
                          <input type="image" class="img-fluid rounded-3" alt="{{film.id}}" src="{{ url_for('static', filename='images/films/') }}{{ film.imagelocation }}">
                        </form>
                          <small class="text-muted">Released:{{film.year}}</small>
                      </div>


                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">{{film.title}}</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                  {% endfor %}


                  <hr class="my-4">
                </div>
                {% for pagenumber in films.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)%}
                  {% if pagenumber %}
                    {% if films.page == pagenumber%}
                      <a class="btn btn-warning mb-4" href="{{url_for('adminviewallfilms', page=pagenumber)}}">{{pagenumber}}</a>
                    {% else %}
                      <a class="btn btn-outline-info mb-4" href="{{url_for('adminviewallfilms', page=pagenumber)}}">{{pagenumber}}</a>
                    {% endif %}
                  {% else %}
                    ...
                  {% endif %}
                {% endfor %}
              </div>


              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Upload Films</h3>
                  <hr class="my-4">

                  <form method='POST' action='{{url_for('adminviewallfilms')}}'>
                    {{ form.hidden_tag() }}
                    <div class="">
                      {{ form.title.label(class="form-label") }}

                      {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.title.errors %}
                                <span> {{ error }} </span>
                              {%endfor%}
                          </div>
                      {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                      {% endif %}
                    </div>

                    <div class="">
                      {{ form.mainactors.label(class="form-label") }}

                      {% if form.mainactors.errors %}
                        {{ form.mainactors(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.mainactors.errors %}
                                <span> {{ error }} </span>
                              {%endfor%}
                          </div>
                      {% else %}
                        {{ form.mainactors(class="form-control form-control-lg", maxlength="250") }}
                      {% endif %}
                    </div>
                    <div class="">
                      {{ form.description.label(class="form-label") }}

                      {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.description.errors %}
                                <span> {{ error }} </span>
                              {%endfor%}
                          </div>
                      {% else %}
                        {{ form.description(class="form-control form-control-lg", maxlength="500", rows="3") }}
                      {% endif %}
                    </div>
                    <div class="">
                      {{ form.year.label(class="form-label") }}

                      {% if form.year.errors %}
                        {{ form.year(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.year.errors %}
                                <span> {{ error }} </span>
                              {%endfor%}
                          </div>
                      {% else %}
                        {{ form.year(class="form-control form-control-lg") }}
                      {% endif %}
                    </div>

                    <div class="col-md-6">
                      {{ form.type.label(class="form-label") }}

                      {% if form.type.errors %}
                        {{ form.type(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.type.errors %}
                                <span> {{ error }} </span>
                              {%endfor%}
                          </div>
                      {% else %}
                        {{ form.type(class="form-control form-control-lg") }}
                      {% endif %}

                      {{ form.genre.label(class="form-label") }}

                      {% if form.genre.errors %}
                        {{ form.genre(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.genre.errors %}
                                <span> {{ error }} </span>
                              {%endfor%}
                          </div>
                      {% else %}
                        {{ form.genre(class="form-control form-control-lg") }}
                      {% endif %}
                    </div>


                    <div class="">
                      {{ form.picture.label() }}
                      {{ form.picture(class="form-control-file") }}
                      {% if form.picture.errors %}
                          {% for error in form.picture.errors %}
                              <span class="text-danger">{{ error }}</span>
                          {% endfor %}
                      {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-warning d-grid gap-2 mt-5 col-6 mx-auto") }}
                    </div>
                  </form>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
