{% extends 'layout.html' %}

{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container  pt-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{film.title}}</h3>
            <h6 class="card-subtitle">{{film.type}} - {{film.genre}}</h6>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center">
                      <img style="width:500px" src="{{ url_for('static', filename='images/films/') }}{{ film.imagelocation }}" class="img-responsive">
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5 text-sentence">{{film.type}} Description</h4>
                    <p>{{film.description}}</p>
                    <h2 class="mt-5">
                        sh. {{film.price}}<small class="text-success"></small>
                    </h2>
                    <button class="btn btn-warning btn-rounded">Update</button>
                    <button class="btn btn-danger btn-rounded">Delete</button>
                    <h3 class="box-title mt-5">Main Actors</h3>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-success"></i>{{film.crew}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
