{% extends 'layout.html' %}
{% block content %}

<section class="h-100 h-custom">
  <div class="container p-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Admin Portal</h1>
                  </div>

                  <div class="container-fluid">
                    <div class="row justify-content-between align-items-center">
                    {% for itemcard in adminpagecards %}
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card border border-5 border-{{itemcard['color']}} btn btn-{{itemcard['color']}} shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="h5 text-xs text-dark font-weight-bold mb-2">
                                              {{itemcard['title']}}
                                          </div>
                                          <div class="h5 mb-0 font-weight-bold text-dark">{{itemcard['value']}}</div>
                                      </div>
                                      <div class="col-auto">
                                          <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                    {% endfor %}
                      </div>
                    </div>

                    <h6 class="mb-0 text-muted">Latest Orders</h6>

                    {%  for order in orders %}
                      <hr class="my-4">

                      <div class="row mb-4 d-flex justify-content-between align-items-center">
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <h6 class="text-black mb-0">{{order.id}}</h6>
                          <h6 class="text-muted">Order No: {{order.id}}</h6>
                        </div>

                        <div class="col-md-3 col-lg-3 col-xl-3">
                          {% if order.orderstatus == 'Pending'%}
                            <h6 class="btn btn-danger mb-0">{{order.orderstatus}}</h6>
                          {% elif order.orderstatus == 'Processing' %}
                            <h6 class="btn btn-warning mb-0">{{order.orderstatus}}</h6>
                          {% else %}
                            <h6 class="btn btn-success mb-0">{{order.orderstatus}}</h6>
                          {% endif %}
                          <h6 class="text-muted">{{order.orderdate.strftime('%d-%m-%Y %H:%M:%S')}}</h6>
                        </div>

                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h6 class="mb-0">sh {{order.orderamount}}</h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                        </div>
                      </div>
                    {% endfor %}


                  <hr class="my-4">
                </div>
              </div>


              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Welcome, {{current_user.firstname}}</h3>
                  <h4 class="fw-bold mb-5 mt-2 pt-1">Menu</h4>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5><a href="{{url_for('adminviewallfilms')}}">Manage Films</a></h5>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5><a href="{{url_for('adminviewallorders')}}">Manage Orders</a></h5>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5><a href="{{url_for('adminviewallcustomers')}}">Manage Customers</a></h5>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5><a href="{{url_for('sms')}}">Manage SMS</a></h5>
                  </div>

                  <hr class="my-4">

                  <h4 class="fw-bold mb-5 mt-2 pt-1">Sales Reports</h4>

                  <div class="d-flex justify-content-between mb-4">
                    <h5>Sales Today: sh {{dailysales}}</h5>
                  </div>

                  <div class="d-flex justify-content-between mb-4">
                    <h5>Sales This Month: sh {{last30sales}}</h5>
                  </div>

                  <div class="d-flex justify-content-between mb-4">
                    <h5>Sales This Year: sh {{last365sales}}</h5>
                  </div>


                  <hr class="my-4">

                    <div class="d-flex flex-column align-items-center text-center">
                      <img class="pb-5 rounded-circle" width="75px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                      <a href="{{url_for('customerprofile')}}" class="btn btn-warning btn-block btn-lg align-items-center">Update Details</a>
                    </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
