{% extends 'layout.html' %}
{%  block content%}

<section class="p-5">
  <div class="container  col-md-6">
    <div class="card  p-5 justify-content-between align-items-center">
      <h1>Admin Login</h1>
      <hr>
      <form class="row g-3" method='POST' action="{{url_for('adminlogin')}}">
        {{ form.hidden_tag() }}

          {{ form.email.label(class="form-label") }}

          {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.email(class="form-control form-control-lg") }}
          {% endif %}

          {{ form.password.label(class="form-label") }}

          {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                    <span> {{ error }} </span>
                  {%endfor%}
              </div>
          {% else %}
            {{ form.password(class="form-control form-control-lg") }}
          {% endif %}

          <div class='form-check'>
            {{ form.remember.label(class="form-check-label") }}
            {{ form.remember(class="form-check-input") }}
          </div>

          <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-warning btn-lg">Login</button>
          </div>

          <div class="card justify-content-between align-items-center">
            <small class="text-muted">
              Forgot password? <a class='ml-2' href={{ url_for('adminpasswordreset')}}>Reset</a>
            </small>
          </div>
        </form>
        </div>
    </div>
</section>

{% endblock content %}
