{% extends 'layout.html' %}

{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container  pt-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Order No: {{order.id}}</h3>
            <h6 class="card-subtitle">Coupon: {{order.couponcode}}</h6>
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5 text-sentence">Customer ID: {{order.customerid}}</h4>
                    <p>Date Ordered: {{order.orderdate.strftime('%d-%m-%Y %H:%M:%S')}}</p>
                    <h2 class="mt-5">
                        sh. <small class="text-success"></small>
                    </h2>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      {% if order.orderstatus != 'Delivered'%}
                        <form action="{{url_for('adminviewallorders')}}" method="POST">
                          <input type="hidden" name="orderid" value="{{order.id}}">
                          <input type="hidden" name="orderstatus" value="Delivered">
                          <button type="submit" class="btn btn-outline-info">Accept Order</button>
                        </form>
                      {%else%}
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          {% if order.orderstatus == 'Pending'%}
                            <h6 class="btn btn-danger mb-0">{{order.orderstatus}}</h6>
                          {% elif order.orderstatus == 'Processing' %}
                            <h6 class="btn btn-warning mb-0">{{order.orderstatus}}</h6>
                          {% else %}
                            <h6 class="btn btn-success mb-0">{{order.orderstatus}}</h6>
                          {% endif %}
                        </div>
                      {%endif%}
                    </div>
                    <h6 class="box-title mt-5">Payment Method</h6>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-success"></i>MPESA</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 col-1 mx-auto">
          <a href={{url_for('adminviewallorders')}} class="btn btn-sm btn-warning btn-lg">Back</a>
        </div>
    </div>
</div>

{% endblock content %}
