{% extends 'layout.html'%}
{% block content %}

<section class="h-100 h-custom">
  <div class="container p-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">{{itemcount}} items</h6>
                    <form action="{{url_for('cart')}}" method="POST">
                      <input type="hidden" name="btn_identifier" value="clearallcart">
                      <button type="submit" class="btn btn-danger">Clear All</button>
                    </form>
                  </div>

                  {%  for item in cart.items %}
                    <hr class="my-4">

                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                          src="{{ url_for('static', filename='images/films/') }}{{item.imagelocation}}"
                          class="img-fluid rounded-3" alt="{{item.title}}">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-black mb-0">{{item.type}}</h6>
                        <h6 class="text-muted">{{item.title}}</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                          <i class="fas fa-minus"></i>
                        </button>

                        <form action="{{url_for('cart')}}" method="POST">
                          <input type="hidden" name="productid" value="{{item.productid}}">
                          <input type="hidden" name="btn_identifier" value="removesingleitem">
                          <button type="submit" class="btn btn-danger">Remove</button>
                        </form>

                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h5 class="mb-0">sh.{{item.price}}</h5>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#" class="text-muted"><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                  {% endfor %}

                  <hr class="my-4">

                  <div class="d-flex justify-content-between">
                    <h5 class="text-uppercase">Total price</h5>
                    <h2>sh.{{totalprice}}</h2>
                  </div>

                  <hr class="my-4">

                  {% for pagenumber in cart.iter_pages() %}
                  {% if pagenumber %}
                    {% if cart.page == pagenumber %}
                      <a class="btn btn-warning" href="{{url_for('cart', page=pagenumber)}}">{{pagenumber}}</a>
                    {% else %}
                      <a class="btn btn-outline-info" href="{{url_for('cart', page=pagenumber)}}">{{pagenumber}}</a>
                    {% endif %}
                  {%else%}
                    ...
                  {%endif%}
                  {% endfor %}

                  <div class="pt-5">
                    <h6 class="mb-0"><a class="btn btn-warning" href="{{url_for('home')}}" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>


              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-sentence">Number of Items</h5>
                    <h5>{{itemcount}}</h5>
                  </div>


                  <div class="d-flex justify-content-between mb-5">
                    {% if amountdue <= 0 %}
                      <h4 class="text-success fw-bold">sh. {{amountdue}}</h4>
                      <div class="">
                        <h5 class="text-success text-uppercase">Paid</h5>
                      </div>

                    {% else %}
                      <h4 class="text-danger fw-bold">sh. {{amountdue}}</h4>
                      <div class="">
                        <h5 class="text-danger text-uppercase">UnPaid</h5>
                      </div>
                    {% endif %}
                  </div>


                  <hr class="my-4">

                  {% if itemcount == 0 %}
                    <div class="d-grid gap-2 col-8 mx-auto mb-5">
                      <h4 class="btn btn-info btn-lg">Cart is Empty</h4>
                    </div>
                  {% else %}
                    <form action="{{url_for('checkout')}}" method="POST">
                      <div class="d-grid gap-2 col-8 mx-auto mb-5">
                        <button type="submit" class="btn btn-warning btn-lg">Checkout</button>
                      </div>
                    </form>
                  {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content%}
