{% extends 'layout.html'%}
{% block content %}

<section class="h-100 h-custom">
  {%  if pending_orders %}
  <div class="container p-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Order Details</h1>
                    <h6 class="mb-0 text-muted">{{pending_orders.itemcount}} items</h6>
                  </div>

                    <hr class="my-4">

                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-3 col-lg-3 col-xl3">
                        <h6 class="btn btn-danger mb-0">Pending</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-black mb-0">Order ID: {{pending_orders.orderno}}</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                          <i class="fas fa-minus"></i>
                        </button>


                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="text-muted">{{pending_orders.orderdate.strftime('%d-%m-%Y %H:%M')}}</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#" class="text-muted"><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between">
                    <h5 class="text-uppercase">Total price</h5>
                    <h2>sh.{{amountdue}}</h2>
                  </div>

                  <hr class="my-4">


                  <div class="pt-5">
                    <h6 class="mb-0"><a class="btn btn-warning" href="{{url_for('home')}}" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>


              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-sentence">Number of Items</h5>
                    <h5>{{pending_orders.itemcount}}</h5>
                  </div>


                  <div class="d-flex justify-content-between mb-5">
                    {% if amountdue <= 0 %}
                      <h4 class="text-success fw-bold">sh. {{amountdue}}</h4>
                      <div class="">
                        <h5 class="text-success text-uppercase">Paid</h5>
                      </div>

                    {% else %}
                      <h4 class="text-danger fw-bold">sh. {{amountdue}}</h4>
                      <div class="">
                        <h5 class="text-danger text-uppercase">UnPaid</h5>
                      </div>
                    {% endif %}
                  </div>


                  <hr class="my-4">

                  {% if pending_orders.itemcount == 0 %}
                    <div class="d-grid gap-2 col-8 mx-auto mb-5">
                      <h4 class="btn btn-info btn-lg">Order List is Empty</h4>
                    </div>
                  {% else %}
                    <div class="d-grid gap-2 col-8 mx-auto mb-5">
                      <button class="btn btn-warning btn-lg intaSendPayButton"
                      data-amount={{amountdue}}
                      data-api_ref={{pending_orders.orderno}}
                      data-method="M-PESA"
                      data-currency="KES"
                      >
                      Pay ksh.{{amountdue}} Now
                      </button>
                    </div>
                  {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</section>

{% endblock content%}
