{% extends 'layout.html' %}
{% block content %}

<section class="p-5 text-center">
  <div class="container">
    <div class="card p-5">
      <i class="bi bi-x-circle text-danger h1"></i>
      <hr>
      <p>Oops! Something went wrong</p>
      <p class="lead">Order Number <strong>{{latestorder.orderno}}</strong> payment Failed. </p>
      <p class="lead">We were somehow not able to bill you successfully. Please click Try Again button below to try make the payment again.</p>
      <small>If this persists,please <a href="{{ url_for('contact')}}" class="link-warning">Contact Us</a></small>
    </div>
    <a href="{{ url_for('home')}}" class="btn btn-danger">Go to Home</a>
    <a href="javascript:history.back()" class="btn btn-warning">Try Again</a>
  </div>
</section>
{% endblock %}
