{% extends 'layout.html' %}

{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container  pt-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{product.title}}</h3>
            <h6 class="card-subtitle">{{product.type}} - {{product.genre}}</h6>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center">
                      <img style="width:500px" src="{{ url_for('static', filename='images/films/') }}{{ product.imagelocation }}" class="img-responsive">
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5 text-sentence">{{product.type}} Description</h4>
                    <p>{{product.description}}</p>
                    <h2 class="mt-5">
                        sh. {{product.price}}<small class="text-success">(50%off)</small>
                    </h2>
                    <button class="btn btn-warning btn-rounded mr-1" data-toggle="tooltip" title="" data-original-title="Add to cart">
                        <i class="bi bi-heart"></i>
                    </button>
                    <button class="btn btn-warning btn-rounded">Add to Cart</button>
                    <h3 class="box-title mt-5">Main Actors</h3>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-success"></i>{{product.crew}}</li>
                        <li><i class="fa fa-check text-success"></i>{{product.crew}}</li>
                        <li><i class="fa fa-check text-success"></i>{{product.crew}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
