{% extends 'layout.html' %}
{% block content %}

<section class="p-5 text-center">
  <div class="container">
    <div class="card p-5">
      <i class="bi bi-check-circle text-success h1"></i>
      <hr>
      <p>Thank You for your order!</p>
      <p class="lead">Order Number <strong>{{latestorder.orderno}}</strong> payment Completed. </p>
      <p class="lead">Please wait for at most 24hrs for your order to be fullfilled.</p>
      <small>Have any queries meanwhile? Please <a href="{{ url_for('contact')}}" class="link-warning">Contact Us</a></small>
    </div>
    <a href="{{ url_for('home')}}" class="btn btn-danger">Go to Home</a>
    <a href="{{ url_for('customerdashboard')}}" class="btn btn-warning">View Orders</a>
  </div>
</section>
{% endblock %}
